body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* testcode  */
header {
    background-color: yellow;
    color: red;
    text-align: center;
    padding: 30px;
    margin: 20px;
    margin-bottom: 40px;
    border: #333 5px solid;
    box-shadow: #333 0 5px 10px;
    border-radius: 5px;
}
nav ul{
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-evenly;
}
nav ul:hover {
    color: rgb(81, 81, 243);
    text-decoration: underline;
}
h2{ 
    color: green;
    font-size: 2em;
    margin-top: 20px;
}
ul{
    padding-left: 15px;
    list-style-type: square;
}

section{
    background-color: yellow;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: #333 0 5px 10px;
}
footer{
    background-color: yellow;
    color: red;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: #333 5px solid;
    box-shadow: #333 0 5px 10px;
    border-radius: 10px;
}